{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <p>I am currently a Senior with a graduation date of Spring 2021.</p><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Summer 2016</h5>
                <ul>
                    <li>MATH 1610: Calculus I</li>
                    <li>ARTS CORE: Art Appreciation</li>
                </ul>
            </div>
            <div class="col">
                <h5>Fall 2016</h5>
                <ul>
                    <li>ENGL 1100: English Composition I</li>
                    <li>MATH 1620: Calculus II</li>
                    <li>PSYC 2010: General Intro. Psycchology</li>
                    <li>GEEL 1000: University Success</li>
                </ul>
            </div>
            <div class="col">
                <h5>Spring 2017</h5>
                <ul>
                    <li>COMM 1000: Intro to Human Communication</li>
                    <li>ENGL 1120: Engl Composition II</li>
                    <li>INFO 3000: Java I</li>
                    <li>MATH 2630: Calculus III</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h5>Fall 2017</h5>
                <ul>
                    <li>ENGR 1110: Introduction to Engineering</li>
                    <li>HIST 1010: World History I</li>
                    <li>MATH 2650: Linear Diff Equations</li>
                    <li>PHYS 1600: Engineering Physics I</li>
                </ul>
            </div>
            <div class="col">
                <h5>Spring 2018</h5>
                <ul>
                    <li>ENGL 2230: Literature</li>
                    <li>HIST 1020: World History II</li>
                    <li>MATH 2660: Linear Algebra</li>
                    <li>PHYS 1610: Engineering Physics II</li>
                </ul>
            </div>
            <div class="col">
                <h5>Fall 2018</h5>
                <ul>
                    <li>COMP 1210: Fundamentals Of Computing I</li>
                    <li>ENGR 1100: Engineering Orientation</li>
                    <li>ENGR 2100: Fundamentals of Engineering Mechanics</li>
                    <li>PHIL 1020: Introduction to Ethics</li>
                    <li>STAT 3600: Probability and Statistics I</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h5>spring 2019</h5>
                <ul>
                    <li>COMP 2210: Fundamentals of Computing II</li>
                    <li>COMP 3240: Discrete Structures</li>
                    <li>ELEC 2200: Digital Logic Circuits</li>
                    <li>PHED 1630: Performance Activity: Tae Kwon Do (Beginning)</li>
                </ul>
            </div>
            <div class="col">
                <h5>Summer 2019</h5>
                <ul>
                    <li>COMP 2710: Software Construction</li>
                    <li>COMP 3270: Introduction to Algorithms</li>
                </ul>
            </div>
            <div class="col">
                <h5>Fall 2019</h5>
                <ul>
                    <li>COOP 4920: Cooperative Work Experience</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h5>spring 2020</h5>
                <ul>
                    <li>COMP 3220: Princ of Programming Languages</li>
                    <li>COMP 3350: Comp Org and Assembly Lang Pgm</li>
                    <li>COMP 3700: Software Modeling and Design</li>
                    <li>COMP 3710: Wireless Software Engineering</li>
                    <li>COMP 5970: Special Topics: Computational Biology</li>
                </ul>
            </div>
            <div class="col">
                <h5>Summer 2020</h5>
                <ul>
                    <li>COMP 3500: Intro to Operating Systems</li>
                    <li>COMP 4320: Intro to Computer Networks</li>
                    <li>COMP 4730: Computer Ethics</li>
                    <li>COMP 5970: Special Topics: iOS App Development</li>
                </ul>
            </div>
            <div class="col">
                <h5>Fall 2020</h5>
                <ul>
                    <li>COOP 4920: Cooperative Work Experience</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h5>spring 2021 (In Progress)</h5>
                <ul>
                    <li>COMP 4300: Computer Architecture</li>
                    <li>COMP 4710: Senior Design Project</li>
                    <li>COMP 5703: Software Process</li>
                    <li>COMP 5710: Sofware Quality Assurance</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}