{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <p>
Hello,
<br><br>
My name is Austin Bush and I am currently a student at Auburn University working towards my undergrad 
in Software Engineering. I'm currently a senior planning on graduating Spring 2021.
<br><br>
So far I have 2 semesters with ADTRAN, a telecommunications networking and internetworking products 
provider, as a Software Development Co-Op. In-between working Co-Op semesters I work part time as an 
Engineering Tutor at Auburn University. Check out more on my resume <a href="{{ url_for('static', filename='assets/AustinBushResume.pdf') }}" target="_blank" rel="noopener noreferrer">here</a>.
<br><br>
If you have any questions about my experience, education or any of my projects, connect with me on 
<a href="https://www.linkedin.com/in/austin-bush-46914a16a/" target="_blank" rel="noopener noreferrer">LinkedIn</a> or send me an email.
<br><br>
Source code for this website can be found <a target="_blank" rel="noopener noreferrer" href="https://github.com/AustinBush32/EZ-Algorithms">here</a>.
    </p>
</div>
{% endblock content %}
