<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/5d07bb4bd6.js" crossorigin="anonymous"></script>

    {% if title %}
    <title>Austin-{{title}}</title>
    {% else %}
    <title>Austin Bush</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark main-color fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav mr-auto bigger-font">
                        <li class="nav-item {% if title == 'Home' %}active{% endif %}">
                            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item {% if title == 'Resume' %}active{% endif %}">
                            <a class="nav-item nav-link" href="{{ url_for('main.resume') }}">
                                Resume
                            </a>
                        </li>
                        <li class="nav-item {% if title == 'Coursework' %}active{% endif %}">
                            <a class="nav-item nav-link" href="{{ url_for('main.coursework') }}">
                                Coursework
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Projects
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="https://www.ezalgorithms.com">ezalgorithms.com</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item disabled" href="#">More on the way...</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="media">
                <img class="rounded-circle img" src="{{ url_for('static', filename='assets/head_shot.jpg') }}">
                <div class="media-body">
                    <h2>Austin Bush</h2>
                    <ul class="social-icons">
                        <li><a class="github" target="_blank" rel="noopener noreferrer" href="https://github.com/AustinBush32/EZ-Algorithms"><i class="fab fa-github"></i></a></li>
                        <li><a class="linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/austin-bush-46914a16a/"><i class="fab fa-linkedin"></i></a></li>   
                    </ul>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <p class="bigger-font">
            &copy;2020 • 
            <a class="footer-link" href="{{ url_for('main.home') }}">Austin Bush</a>
        </p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>